# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore directories for uploads and reports
file_uploads/
attrition_reports/